@model CertificadoAcreenciaWeb.Models.ProveedorDataModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<table class="table table-bordered">
    <tr>
        <th> @Html.DisplayNameFor(model => model.NombreProveedor) </th>
        <th> @Html.DisplayNameFor(model => model.Prac) </th>
        <th> @Html.DisplayNameFor(model => model.Mes) </th>
        <th></th>
    </tr>
    <tr>
        <td> @Html.DisplayFor(modelItem => Model.NombreProveedor) </td>
        <td> @Html.DisplayFor(modelItem => Model.Celular) </td>
        <td> @Html.DisplayFor(modelItem => Model.Celular) </td>
        <td> @Html.ActionLink("Back To List", "Employees") </td>
</table>  